@media screen and (orientation: portrait) and (max-width: 991px) {
	body {
		font-size: 200%;
	}
}
body {
	touch-action: manipulation;
	text-align: center;
	font-family: sans-serif;
}
.geiryn-board {
	text-transform: uppercase;
}
.geiryn-board-row, .geiryn-empty-row, .geiryn-next-guess-row {
}
.geiryn-board-letter {
	margin: 0.15em;
	display: inline-block;
	width: 3.5em;
	height: 3.5em;
	line-height: 3em;
	border: solid lightgray 3px;
	background-color: white;
	font-size: 130%;
}
.geiryn-board-letter-next {
	border-color: black;
	text-decoration: underline;
}
.geiryn-board-letter-0 {
	background-color: darkgray;
	color: white;
	border-color: darkgray;
}
.geiryn-board-letter-1 {
	background-color: orange;
	color: white;
	border-color: orange;
}
.geiryn-board-letter-2 {
	background-color: green;
	color: white;
	border-color: green;
}
.geiryn-keyboard {
	text-transform: uppercase;
	margin-top: 1em;
	position: fixed;
	bottom: 0.5em;
	width: 100%;
}
.geiryn-keyboard-row {
	margin: 0.30em;
}
.geiryn-keyboard-key {
	font-weight: bold;
	margin: 0.2em;
	display: inline-block;
	width: 2.25em;
	height: 4.5em;
	line-height: 4em;
	border-radius: 10px;
	background-color: lightgray;
}
.geiryn-keyboard-key-0 {
	background-color: gray;
	color: white;
}
.geiryn-keyboard-key-1 {
	background-color: orange;
	color: white;
}
.geiryn-keyboard-key-2 {
	background-color: green;
	color: white;
}
.geiryn-keyboard-key-special {
	width: 3.3em;
}

.geiryn-dialog {
	position: fixed;
	top: 25%;
	bottom: 25%;
	left: 25%;
	right: 25%;
	width: 50%;
	height: 50%;
	font-size: 250%;
	background-color: white;
	box-shadow: 0 0 0.5em gray;
	border-radius: 0.5em;
}
.geiryn-dialog-header {
	text-align: right;
}
.geiryn-dialog-header-closeButton {
	min-height: 2em;
	min-width: 2em;
	border: none;
	background-color: transparent;
	font-size: 100%;
	vertical-align: top;
	cursor: pointer;
}
