body {
	touch-action: manipulation;
	text-align: center;
	font-family: sans-serif;
	font-size: 300%;
}
.board {
	text-transform: capitalize;
}
.board-row, .empty-row, .next-guess-row {
	margin: 0.3em;
}
.board-letter {
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	border: solid gray 1px;
	background-color: white;
}
.board-letter-next {
	border: solid black 3px;
}
.board-letter-0 {
	background-color: darkgray;
	color: white;
}
.board-letter-1 {
	background-color: orange;
	color: white;
}
.board-letter-2 {
	background-color: green;
	color: white;
}
.keyboard {
}
.keyboard-row {
	margin: 0.3em;
}
.keyboard-key {
	display: inline-block;
	width: 1.8em;
	height: 3em;
	line-height: 3em;
	border: solid gray 1px;
	border-radius: 10px;
	background-color: lightgray;
}
.keyboard-key-0 {
	background-color: darkgray;
	color: white;
}
.keyboard-key-1 {
	background-color: orange;
	color: white;
}
.keyboard-key-2 {
	background-color: green;
	color: white;
}
